a,
body,
li,
p,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.ms-Icon--ChevronRightMed {
  font-size: 11px !important;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: calc(1600px + 10%);
  padding: 0;

  >div {
    margin: 0 3.8em;

    .header-region {
      .nav-menu {
        display: flex;
        align-items: center;
        height: 50px;

        .logo {
          cursor: pointer;
          background: url("../img/logo.png") no-repeat center center/contain;
          height: 25px;
          width: 130px;
          margin-right: 20px;
        }

        .cart-btn,
        .search-btn,
        .user-btn {
          margin-right: 30px;
          cursor: pointer;

          i {
            font-size: 16px;
          }
        }
        .chevron-down {
          cursor: pointer;
          margin-right: 30px;

          i {
            margin-left: 5px;
            font-size: 10px;
            color: #2c2c2c;
          }

          a {
            font-size: 13px;
            color: #262626;
          }

          &:hover {
            a {
              border-bottom: 2px solid #000;
            }
          }
        }
        .content{
          font-size: 13px;
          margin-right: 5px;
          border-bottom: 2px solid #fff;
          &:hover{
            border-bottom: 2px solid #000;
            cursor: pointer;
          }
        }

        .user-btn {
          margin-right: 10px;
        }

        .nav-menu-list {
          display: flex;
          flex-grow: 2;

          :nth-child(8) {
            display: none;

            i {
              font-size: 10px;
              margin-left: 5px;
            }
          }

          li {
            margin-right: 15px;
            padding: 2px;
          }

          a {
            font-size: 13px;
            color: #262626;
            border-bottom: 2px solid transparent;
            float: left;

            &:hover {
              border-bottom: 2px solid #000;
              cursor: pointer;
            }
          }
        }
      }

      .nav-menu-2 {
        position: relative;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 55px;

        .logo {
          background: url('../img/logo.png') no-repeat center center/contain;
          height: 25px;
          flex-grow: 2;
          cursor: pointer;
        }

        .cart-btn,
        .search-btn,
        .user-btn {
          cursor: pointer;

          i {
            font-size: 16px;
          }
        }

        .cart-btn {
          margin-right: 20px;
        }

        .close {
          display: none;
          margin-right: 20px;
          width: 20px;
          text-align: center;
          font-size: 16px;

          i {
            color: #262626;
          }
        }

        .burger-menu {
          margin-right: 20px;
          width: 20px;
          text-align: center;
        }

        >div {
          display: block;
          cursor: pointer;

          >i {
            margin-top: 0;
          }
        }
      }

      .nav-menu-mobile {
        display: none;

        >div {
          background: #f2f2f2;
          position: absolute;
          width: 100%;
          z-index: 1;
          display: flex;
          flex-direction: column;

          .dropdown {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .dropdown-content-default-hidden,
          .dropdown-content {
            display: none;
          }

          .dropdown-content-default-hidden {
            padding: 0 !important;
          }

          .dropdown-content-flex {
            display: flex;
            flex-direction: column;

            >a {
              margin-left: 30px;
              padding: 16px 13px;
              border-bottom: 1px solid #e6e6e6;
            }

            :last-child {
               border-bottom: none;
            }
          }

          >div {
            padding: 16px 13px;
            border-bottom: 1px solid #e6e6e6;
            cursor: pointer;
          }

          >div:last-child {
            border-bottom: 1px solid #000;
          }

          a,
          span {
            color: #262626;
            font-size: 15px;
            margin: 1px;
          }

          .fa-chevron-down,
          .fa-chevron-up {
            font-size: 12px;
            color: #262626;
          }
        }
      }
    }

    .covid-info {
      padding: 12px 36px;
      background-color: #0067B8;
      text-align: center;
      display: block;
      outline: 1px dashed transparent;
      color: white;

      &:hover {
        text-decoration: underline;
        margin: 0 0.8px;
        cursor: pointer;
        outline: 1px dashed black;
        color: white;

        a {
          >.ms-Icon--ChevronRightMed {
            padding-left: 10px;
          }
        }
      }

      a {
        color: #fff;
        font-size: 13px;

        >.ms-Icon--ChevronRightMed {
          font-size: 12px;
          margin-left: 5px;
          margin-top: 0;
          color: #fff !important;
          transition: all 200ms ease-in-out;
          right: 0;
        }
      }
    }

    .banner-case,
    .banner-case-3 {

      .first-case,
      .second-case {
        position: relative;

        &:hover {

          .previous-btn,
          .next-btn {
            display: block;
          }
        }

        img {
          position: relative;
          width: 100%;
          cursor: pointer;
        }

        >div {
          position: absolute;

          h2,
          p {
            margin-bottom: 15px;
          }

          .btn {
            padding: 10px;
            text-align: center;
            width: 120px;
            display: block;

            i {
              transition: margin 0.4s;
            }

            a {
              font-size: 15px;
              font-weight: 600;
            }

            &:hover {
              opacity: 0.9;

              i {
                margin-left: 8px;
              }
            }
          }
        }

        .previous-btn, .next-btn{
          display: none;
          position: absolute;
          top: 50%;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 0;
          outline: none;
          &:hover {
            cursor: pointer;
          }
        }

        .previous-btn {
          left: 1px;   
        }

        .next-btn {
          right: 1px;   
        }
      }
    }

    .banner-case-hidden,
    .banner-case-3-hidden {
      display: none;
      cursor: pointer;

      .first-case-hidden,
      .second-case-hidden {
        >img {
          max-width: 100%;
          width: 100%;
        }

        >div {
          display: flex;
          height: 280px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding-top: 20px 25px;
          margin-top: -5px;

          h2,
          p {
            text-align: center;
          }

          .btn {
            padding: 10px;
            text-align: center;
            width: 120px;
            display: block;
            margin-top: 15px;

            a {
              font-weight: 600;
            }

            i {
              transition: margin 0.4s;
            }

            &:hover {
              opacity: 0.9;

              i {
                margin-left: 8px;
              }
            }
          }
         
        }
      }
    }

    .banner-case {
      .first-case {

        >div {
          cursor: pointer;
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
          transform: translateX(-50%);

          h2,
          p {
            text-align: center;
            color: white;
          }

          .btn {
            background-color: #e6e6e6;
            margin: 0 auto;

            a {
              color: black;
            }


            &:hover {
              a {
                border-bottom: 2px solid black;
              }
            }
          }
        }

        .previous-btn, .next-btn {
          background-color: #31323A;
          color: white;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }

      .second-case {
        display: none;

        >div {
          top: 50%;
          transform: translateY(-50%);
          left: 8%;
          cursor: pointer;

          h2,
          p {
            color: black;
          }

          h2 {
            width: 500px;
          }

          p {
            width: 460px;
          }

          .btn {
            background-color: black;


            a,i {
              color: white;
            }

            &:hover {
              a {
                border-bottom: 2px solid white;
              }
            }
          }
        }

        .previous-btn, .next-btn {
          background-color: #fff;
          opacity: 0.7;

          i {
            color: black;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .banner-case-hidden {

      .first-case-hidden {


        >div {
          background-color: #333333;

          h2,
          p {
            color: white;
          }



          .btn {
            background-color: white;

            a {
              color: black;
            }


            &:hover {

              a {
                border-bottom: 2px solid black;
              }
            }
          }
        }
      }

      .second-case-hidden {
        display: none;


        >div {
          background-color: #E6E6E6;
          padding: 0 25px;

          h2,
          p {
            color: black;
          }

          .btn {
            background-color: black;

            a {
              color: white;
            }

            i {
              color: white;
            }

            &:hover {
              a {
                border-bottom: 2px solid white;
              }
            }
          }
        }
      }
    }

    .store-section {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 50px;
      margin-bottom: 15px;


      li {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        margin-right: 50px;

        div {
          display: flex;
          flex-direction: column;

          img {
            height: 40px;
            width: 40px;
            display: block;
            margin: 0 auto;
          }

          a {
            margin-top: 6px;
            width: 120px;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
          }
        }
      }
    }

    .card-section {
      grid-template-columns: repeat(4, 1fr);
      padding: 50px 0 0;
      display: grid;
      grid-gap: 25px;

      >article {
        margin-bottom: 60px;
        cursor: pointer;

        .heading {
          display: block;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          padding-bottom: 8px;
        }
      }

      .chevron-link {
        display: inline-block;
        margin-right: 20px;

        &:hover {
          >.ms-Icon--ChevronRightMed {
            padding-left: 5px;
          }
        }

        .ms-Icon--ChevronRightMed {
          transition: all 200ms ease-in-out;
        }
      }

      .chevron-link,
      .chevron-a,
      i {
        color: #0067ce;
        margin-top: 10px;
        font-size: 11px;
      }

      .chevron-a {
        &:hover {
          border-bottom: 2px solid #0067ce;
        }

        font-size: 15px;
        font-weight: 600;
      }

      .chevron-link,
      .chevron-i {
        font-size: 12px;
        margin-left: 5px;
      }

      .cards {
        margin-bottom: 40px;
        width: 100%;
        height: auto;

        .card-img {
          width: 100%;
          height: auto;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .banner-case-2-hidden {
      display: none;
      cursor: pointer;

      img {
        max-width: 100%;
        width: 100%;
      }

      >div {
        background-color: #E6E6E6;
        display: flex;
        height: 280px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: -5px;
        padding: 20px 25px;

        h2,
        p {
          color: black;
          text-align: center;

          margin: 0;
        }

        .btn {
          cursor: pointer;
          padding: 10px;
          background-color: black;
          text-align: center;
          width: 120px;
          display: block;
          margin-top: 15px;

          a {
            color: white;
            font-weight: 600;
          }

          i {
            color: white;
            transition: margin 0.4s;
          }

          &:hover {
            opacity: 0.9;

            a {
              border-bottom: 2px solid white;
            }

            i {
              margin-left: 8px;
            }
          }
        }
      }
    }

    .banner-case-2 {
      position: relative;
      cursor: pointer;


      img {
        position: relative;
        margin: auto;
        width: 100%;
      }

      >div {
        left: 5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h2,
        p {
          color: black;
          margin-bottom: 15px;
        }

        h2{
          width: 500px;
        }

        p {
          width: 460px;
        }


        .btn {
          padding: 10px;
          background-color: black;
          text-align: center;
          display: block;
          width: 120px;

          a {
            color: white;
            font-weight: 600;
          }

          i {
            color: white;
            transition: margin 0.4s;
          }

          &:hover {
            opacity: 0.9;

            a {
              border-bottom: 2px solid white;
            }

            i {
              margin-left: 8px;
            }
          }
        }

      }
    }

    .banner-case-3 {
      .first-case {
        cursor: pointer;
        img {
          margin: auto;
        }

        >div {
          top: 50%;
          transform: translateY(-50%);
          right: 5%;

          h2,
          p {
            color: black;
          }

          h2 {
            width: auto;
          }

          p {
            width: 440px;
          }

          .btn {
            background-color: black;

            a,
            i {
              color: white;
            }

            &:hover {
              a {
                border-bottom: 2px solid white;
              }
            }
          }
        }

        .previous-btn,
        .next-btn {
          background-color: #f7fcfa;
          color: white;
          opacity: 0.7;

          i {
            color: black;
          }

          &:hover {
            opacity: 1;
          }
        }

      }

      .second-case {
        display: none;

        >img {
          margin: auto;
        }

        >div {
          top: 50%;
          transform: translateY(-50%);
          left: 6%;
          cursor: pointer;

          h2,
          p {
            color: white;
          }

          h2 {
            width: 400px;
          }

          p {
            width: 460px;
          }

          .btn {
            background-color: white;


            a,
            i {
              color: black;
            }

            &:hover {
              a {
                border-bottom: 2px solid black;
              }
            }
          }
        }


        .previous-btn,
        .next-btn {
          background-color: #31323A;
          color: white;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .banner-case-3-hidden {

      .first-case-hidden {
        >div {
          background-color: #E6E6E6;
          padding: 0 25px;
          h2,
          p {
            color: black;
          }

          .btn {
            background-color: black;

            a,i {
              color: white;
            }

            &:hover {
              a {
                border-bottom: 2px solid white;
              }
            }
          }
        }
      }
      .second-case-hidden {

        display: none;
  
  
  
        >div {
          background-color: #333333;
  
          h2,
          p {
            color: white;
          }
  
  
  
          .btn {
            background-color: white;
  
            a {
              color: black;
            }
  
  
            &:hover {
  
              a {
                border-bottom: 2px solid black;
              }
            }
          }
        }
      }
    }

  

    .banner-case,
    .banner-case-2,
    .banner-case-3 {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .social-section {
      display: flex;
      flex-direction: row;
      margin: 40px 0;
      p {
        margin-right: 12px;
        color: rgba(0, 0, 0, .6);
        font-size: 15px;
        text-align: center;
      }

      img {
        cursor: pointer;
        width: 25px;
        height: 27px;
        margin-right: 15px;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

footer{
  width: 100%;
  background-color:#F2F2F2;
  height: auto;
}
.footer {
  background: #f2f2f2;
  max-width: calc(1600px + 10%);
  padding-top: 20px;
  color: #616161;
  width: 100%;
  margin: 0 auto;

  .footer-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 3.8em;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    p {
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
      font-style: normal;
    }
  }

  a {
    margin-bottom: 14px;
    font-size: 11px;
    color: #616161;

    &:hover {
      color: rgba(0, 0, 0, 0.9);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3.8em;

    .globe-country {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin-left: 10px;
      }
    }

    div {
      .country-btn {
        display: inline-block;
        margin-bottom: 0;

        &:hover {
          color: #616161;
        }
      }
    }

    .contact-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;

      a {
        margin-right: 13px;
      }

      p {
        font-size: 11px;
      }
    }
  }
}
